.container-modulos
{
   margin-left: 5%;
   width: 90%;
   display: flex;
   flex-wrap: wrap;
   gap: 1%;
}

.card{
   margin-left: 3.5%;
   margin-top: 3%;
   width: 20%;
   height: 25vh;
   display: flex;
   align-items: center;

}

.icon {
   width: 35%;
   height: 25vh;
}