
:root{
     --global-primary-color:#ff793f;
}

.nav__bar{
     display:flex;
     justify-content:center;
     background: var(--global-primary-color);
}



.navbar-brand{
     width:1%;
}




.navbar-nav .nav-link {
     color: #fff;

}

.navbar-toggler-icon{
     color:#fff;
}



.navbar-expand-lg .navbar-collapse
{
     width: 78% !important;
     justify-content: space-between;
}

.navbar-expand-lg .navbar-nav {
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -ms-flex-direction: row;
     flex-direction: row;
     width: 100%;
     justify-content: space-around;
 }