:root{
     --global-primary-color:#7da7bd;
}

.nav__bar{
     display:flex;
     justify-content:center;
     background: var(--global-primary-color);
}



.navbar-brand{
     width:1%;
}




.navbar-nav .nav-link {
     color: #fff;

}

.navbar-toggler-icon{
     color:#fff;
}